node_modules/
dist/
.tmp/
.sass-cache
bower_components/
*.log
*~
nbproject
target/
# Editor File Ignore
*.sublime-project
*.sublime-workspace
.idea/
privateConfig.js
privateConfig.json
settings.json
test/reporter/src/items/
